name: flutter_luban
description: An image compress package like Luban for Dart, based on image. This library has no system platform constraints.
repository: https://github.com/crazecoder/flutter_luban
version: 0.1.14


environment:
  sdk: ">=2.17.0 <4.0.0"
  flutter: ">=1.20.0"

dependencies:
  flutter:
    sdk: flutter
  image: ^4.2.0

dev_dependencies:
  flutter_test:
    sdk: flutter